* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 0, 98);
}

.encabezado {
    grid-area: header;
    background: #2C3E50;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #ffffff;
}
